*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.contenedor {  
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 3.1fr 0.7fr 0.5fr;
    grid-template-areas:
      "header"
      "section1"
      "section2"
      "pie";
}
/*MENU*/
.header{
    grid-area: header;
    display: flex;
    background: linear-gradient(#e2e1e1,#ecebeb,#f6f6f6,#f6f6f6,#ecebeb,#e2e1e1);
    justify-content: space-around;
}
.header img{
    width: 250px;
    margin-right: 100px;
}
.logo1{
    border-radius: 10%;
    margin:10px;
    transition: all 1s ease;
}
.logo1:hover{
  transform: scale(1.1, 1.1);
}
.nav-item{
      margin:20px;
      font-size: 20px;
      font-weight: bold;
}
.nav-link{
    padding: 10px 25px !important;
    border-radius: 25px;
}
.nav-link:hover{
    color: white !important;
    background-color: #f21d2f8d;
}
.presionado{
    color: white !important;
    background-color: #F21D2F;
}

  
/*Seccion1*/
.section1{
    grid-area: section1;
}
.section1{
    border: #F21D2F solid 6px;
    background-image: url(../fotos/fotogrupal.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding: 100px;
    margin: 90px;
}
.section1 p{
    background-color: rgba(182, 178, 178, 0.64);
    opacity: .7;
    font-weight:bolder;
    font-size: 25px;
    padding: 70px;
    color: black;
    text-align: center;
}
.section1 h2{
    color:#ffffff;
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}


/*Seccion2*/
.section2{
    grid-area: section2;
    display: flex;
}
.section2{
    text-align: center;
    margin-top: 120px;
}
.section2 div{
    margin: 0px auto;
    width: 40%;
    padding: 20px;
}
.section2 h2{
    font-size: 30px;
    font-weight: bold;
    text-decoration-line: underline;
    margin-bottom: 25px;
}
.section2 div p{
    font-size: 20px;
}
.mision{
    background-color:#F21D2F;
    color: white;
}
.vision{
    border: #F21D2F solid;
}

/* DEPORTES */
.contenedor2 {  
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2 0.5fr;
    grid-template-areas:
      "header"
      "section3"
      "pie";
}
.header{
    grid-area: header;
}
.pie{
    grid-area: pie;
}
.contenedor2 h2{
    color: #F21D2F;
    font-size: 50px;
    font-weight: bold;
    margin-top: 80px;
    text-align: center;
}
/*Seccion3 Todos*/
.section3{
    grid-area: section3;
    text-align: center;
    margin-top: 100px;
}
.section3 h3{
    font-weight: bold;
}
.section3 p{
    margin-top: 15px;
    font-size: 20px;
}
/*Seccion4*/
.section4{
    display: flex;
}
.section4 div{
    margin: 0px auto;
    margin-bottom: 50px;
    width: 40%;
    padding: 20px;
    height: 550px;
}
.natacion{
    background-color:#9dbf21b0;
    border: #75920bfc solid;
}
.natacion img{width: 376px !important;}
.natacion h3{
    color:#60770d;
    font-size: 35px;
    margin-bottom: 15px;
}
.futbol{
    background-color:#36abd9a7;
    border: #075370 solid;
}
.futbol img{ width: 300px !important;}
.futbol h3{
    color:#075370;
    font-size: 35px;
    margin-bottom: 15px;
}
/*Seccion5*/
.section5{
    display: flex;
}
.section5 div{
    margin: 0px auto;
    margin-bottom: 50px;
    width: 40%;
    padding: 20px;
    height: 550px;
}
.zumba{
    background-color:#f28705cb;
    border:#d16900 solid;
}
.zumba img{width: 357px !important;}
.zumba h3{
    color: #d16900;
    font-size: 35px;
    margin-bottom: 15px;
}
.gimnasia{
    background-color:#f21d79b7;
    border:#d4005c solid;
}
.gimnasia img{width: 300px !important;}
.gimnasia h3{
    color: #d4005c;
    font-size: 35px;
    margin-bottom: 15px;
}
/*Seccion 6*/
.section6 div{
    margin: 0px auto;
    margin-bottom: 80px;
    width: 90%;
    padding: 20px;
    height: 400px;
}
.baile{
    background-color:#8c1b8497;
    border: #64005e solid ;
}
.baile img{width: 300px;}
.baile h3{
    color: #64005e;
    font-size: 35px;
    margin-bottom: 15px;
}

/*ALQUILER*/
.alquiler{
    color: #F21D2F;
    font-size: 50px;
    font-weight: bold;
    margin: 80px 0px;
    text-align: center;
}
.cansal{
    margin-bottom: 80px;
}
.cancha {
    background-image: url(../fotos/cancha.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #F21D2F solid;
}
.cancha h3, .salones h3{
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.cancha p, .salones p{
    text-align: center;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 0.656);
    padding: 85px 20px;
    margin: 30px;
    font-weight: bold;
}
.salones {
    background-image: url(../fotos/salon.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #F21D2F solid;
}

/*NOTICIAS*/
.noticias{
    color: #F21D2F;
    font-size: 50px;
    font-weight: bold;
    margin: 80px 0px;
    text-align: center;
}
.carousel-inner h5{
    font-weight: bold;
}
.footer{
    margin-top: 80px;
}

/*CONTACTO*/
.form-label{
    font-weight: bold;
}
.contactoh2{
    color: #F21D2F;
    font-size: 50px;
    font-weight: bold;
    margin: 80px 0px;
    text-align: center;
}
.section8{
    display: flex;
}
.contacto{
    width: 50%;
}
.contacto h3{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.contacto2{
    text-align: center;
    width: 50%;
}
.contacto2 h3{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.redes{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 50px auto;
    margin-bottom: 80px;
}
.redes h3{
    margin-bottom: 40px;
    font-weight: bold;
}
.redes a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    font-size: 25px;
    margin: 0px 20px;
}
.redes a:hover{
    color:#F21D2F;
}
.redes p{
    display: inline;
    font-size: 20px;
    margin: 0px 20px;
}
.redes img{
    width: 50px;
    margin: 0px 1px;
    border-radius: 50%;
}
/*FOOTER*/
.pie{
    grid-area: pie;
    background-color:rgba(80, 79, 79, 0.072); 
    background: linear-gradient(#e2e1e1,#ecebeb,#f6f6f6,#f6f6f6,#ecebeb,#e2e1e1);
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
footer li{
    color:  #F21D2F;
    list-style-type: none;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
















/*INICIO*/

  /*Para tablet*/
@media screen and (max-width: 768px){
.contenedor{
      grid-template-columns:1fr;
      grid-template-areas:
        "header"
        "section1"
        "section2"
        "pie";
}
.section1{
        margin: 50px;
}
.section1 p{
        font-size: 15px;
        padding: 50px;
}
.section1 h2{
        font-size: 50px;
        margin-bottom: 20px;
}
}
/*para celular*/
@media screen and (max-width: 600px){
.contenedor{
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "section1"
        "section2"
        "pie";
}
.section1{
        height: 800px;
        margin: 50px;
}
.section1 p{
        font-size: 15px;
        padding: 50px;
}
.section1 h2{
        font-size: 50px;
        margin-bottom: 20px;
}
.section2{
        display: inline-block;
}
.section2{
        text-align: center;
        margin-top: 50px;
}
.section2 div{
        margin: 0px auto;
        width: 83%;
        padding: 50px;
}
.section2 div p{
        font-size: 15px;
}
.mision{
       margin-bottom: 60px !important;
} 
}
  
/*DEPORTES y ALQUILERES*/
@media screen and (max-width: 768px){
/*Seccion3 Todos*/
.section3 p{
    font-size: 18px;
}
/*Seccion4*/
.natacion img{width: 250px !important;}
.futbol img{ width: 250px !important;}
/*Seccion5*/
.zumba img{width: 250px !important;}

.gimnasia img{width: 250px !important;}
.gimnasia h3{
    font-size: 32px;
}
.cancha p, .salones p{
    font-size: 15px;
}
}
 /*para celular*/
 @media screen and (max-width: 600px){
.section3 h3{
    font-weight: bold;
}
.section3 p{
    font-size: 15px;
}
/*Seccion4*/
.section4{
    display: inline-block;
}
.section4 div{
    width: 83%;
    height: 450px;
}
.natacion img{width: 250px !important;}
.futbol img{ width: 250px !important;}
/*Seccion5*/
.section5{
    display: inline-block;
}
.section5 div{
     width: 83%;
    height: 450px;
}
.zumba img{width: 250px !important;}
.gimnasia img{width: 250px !important;}
/*Seccion 6*/
.section6 div{
        width: 83%;
}
.cancha p, .salones p{
        font-size: 15px;
}
 }

/*CONTACTO*/
@media screen and (max-width: 768px){
.contenedor2{
        grid-template-columns: 1fr;
        grid-template-areas:
          "header"
          "section8"
          "redes"
          "pie";
}
.section8{
    display: inline-block;
}
.contacto{
    width: 100%;
    margin-bottom: 40px;
}
.contacto2{
    width: 100%;
}
}

/*para celular*/
@media screen and (max-width: 600px){
.contenedor2{
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "section8"
    "redes"
    "pie";
}
.section8{
    display: inline-block;
}
.contacto{
    width: 100%;
    margin-bottom: 40px;
}
.redes a{
    font-size: 20px;
}
.redes img{
    width: 30px;
}
}















