<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../fotos/icono.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
    <title> Club Magnus </title>
</head>
<body>
    <div class="contenedor">
    <header>
        <div class="logo">
            <img class="logo1" src="../fotos/logotipo.png" alt="Imagen de Logo" class="logo">
        </div>
    <nav>
        <ul class="menu">
            <li class="item"> <a href="../index.html"> Inicio </a> </li>
            <li class="item"> <a href="./deportes.html"> Deportes </a> </li>
            <li class="item"> <a href="./alquileres.html"> Alquileres </a> </li>
            <li class="item"> <a href="./noticias.html" > Noticias Magnus </a> </li>
            <li class="item"> <a href="./contacto.html" class="presionado"> Contacto </a> </li>
        </ul>
    </nav>
    </header>
    <main>
        <section class="section5">
            <h2>Contacto</h2>
        <div class="mapa">
            <h3>Ubicación Lugar</h3> 
            <img src="../fotos/mapa.jpg" alt="Ubicacion del Lugar">
        </div>
        <div class="formulario">
            <form action="">
                <fieldset>
                    <legend> Formulario de contacto </legend>
                    <div>
                        <label for="name">Escribe tu nombre</label>
                        <input type="text" name="name" placeholder="Juan">
                    </div>
                    <br>
                    <div>
                        <label for="surname">Escribe tu apellido</label>
                        <input type="text" name="surname" placeholder="Perez">
                    </div>
                    <br>
                    <div>
                        <label for="dep">Actividad de Interes</label>
                        <select name="Deportes" id="">
                            <option value="nat">Natación</option>
                            <option value="fut">Fútbol</option>
                            <option value="zum">Zumba</option>
                            <option value="gim">Gimnasia Ritmica</option>
                            <option value="baile">Baile Revolution</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <label for="comentarios">Escribe tu consulta</label> <br>
                        <textarea name="comentarios" id="" cols="30" rows="10"></textarea>
                    </div>
                    <br>
                    <div>
                        <input type="submit" value="Enviar Datos">
                        <input type="reset" value="Borrar Datos">
                    </div>
                </fieldset>
            </form>
        </div>
        </section>
        <div class="redes">
            <img src="../fotos/whatsapp.png" alt="Logo WhatsApp">
            <p>Whatsapp</p>
            <img src="../fotos/instagram.jpg" alt="Logo Instagram">
            <p>Instagram</p>
            <img src="../fotos/facebook.jpg" alt="Logo Facebook">
            <p>Facebook</p>  
        </div>
    </main>
    <footer>
        <ul>
            <li> Salta Capital - Argentina </li>
            <li> Calle España N° 1650</li>
            <li> WhatsApp +54 9 3875439770 </li>
        </ul>
    </footer> 
    </div>
</body>
</html>