<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../fotos/icono.png"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css"">
    <title> Club Magnus </title>
</head>
<body>
    <div class="contenedor">
    <header>
            <div class="logo">
                <img class="logo1" src="../fotos/logotipo.png" alt="Imagen de Logo" class="logo">
            </div>
        <nav>
            <ul class="menu">
                <li class="item"> <a href="../index.html"> Inicio </a> </li>
                <li class="item"> <a href="./deportes.html" class="presionado"> Deportes </a> </li>
                <li class="item"> <a href="./alquileres.html"> Alquileres </a> </li>
                <li class="item"> <a href="./noticias.html"> Noticias Magnus </a> </li>
                <li class="item"> <a href="./contacto.html"> Contacto </a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section3">
            <h2> Deportes </h2>
                <div class="natacion">
                     <h3> Natación </h3>
                     <img src="../fotos/natacion.jpg" alt="Persona Nadando">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iure reprehenderit iste, explicabo provident quaerat similique quibusdam natus omnis quos dolores rem repellendus dolorum sunt illo illum, iusto minus assumenda.</p>
                </div>
                <div class="futbol">
                    <h3> Fútbol </h3>
                    <img src="../fotos/futbol.jpg" alt="Chicas Jugando al Futbol">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iure reprehenderit iste, explicabo provident quaerat similique quibusdam natus omnis quos dolores rem repellendus dolorum sunt illo illum, iusto minus assumenda.</p>
                </div>
                <div class="zumba">
                    <h3> Zumba </h3>
                    <img src="../fotos/zumba.jpg" alt="Clase de Zumba">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iure reprehenderit iste, explicabo provident quaerat similique quibusdam natus omnis quos dolores rem repellendus dolorum sunt illo illum, iusto minus assumenda.</p>
                </div>
                <div class="gimnasia">
                    <h3> Gimnasia Ritmica </h3>
                    <img src="../fotos/gimnasia.jpg" alt="Persona haciendo Gimasia Ritmica">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iure reprehenderit iste, explicabo provident quaerat similique quibusdam natus omnis quos dolores rem repellendus dolorum sunt illo illum, iusto minus assumenda.</p>
                </div>      
        </section> 
                <div class="baile">
                    <h3> Baile Revolution </h3>
                    <img src="../fotos/baile.jpg" alt="Grupo bailando">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iure reprehenderit iste, explicabo provident quaerat similique quibusdam natus omnis quos dolores rem repellendus dolorum sunt illo illum, iusto minus assumenda.</p>
                </div>
    </main>
    <footer>
        <ul>
            <li> Salta Capital - Argentina </li>
            <li> Calle España N° 1650</li>
            <li> WhatsApp +54 9 3875439770 </li>
        </ul>
    </footer> 
    </div>
</body>
</html>